.about-div {
  width: 70%;
  left: 100px;
  position: relative;
  transform: skewX(20deg);
}

@media screen and (max-width: 414px) {
  .about-div {
    position: static;
    transform: skewX(0);
    margin: auto;
  }
}
