body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background: url(./assets/7135.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo-navbar {
  position: relative;
  top: 5px;
  left: 75px;
  height: 80px;
  width: 100px;
}

.heading-section {
  border-right: 1px solid #74CEDD;
  background-color: #1C1616;
  transform: rotate(20deg);
  position: absolute;
  top: -150px;
  left: -114px;
  height: 90%;
  width: 220px;
  z-index: 1;
}

.heading-wrapper {
  transform: rotate(-20deg);
  position: absolute;
  top: 140px;
  left: 70px;
}

.main-content-div {
  position: absolute;
  top: 115px;
  right: -160px;
  padding: 50px;
  width: 80%;
  max-height: 413px;
  background-color: #1C1616;
  border: 1px solid #74CEDD;
  color: #FDFDFD;
  font-size: 20px;
  transform: skewX(-20deg);
  overflow-y: scroll;
  overflow-x: hidden;
}


@media screen and (max-width: 810px) {
  .main-content-div {
    right: -130px;
    width: 90%;
  }
}

@media screen and (max-width: 710px) {
  body {
    background-size: auto;
  }
}

@media screen and (max-width: 320px) {
  .app-wrapper {
    width: 100%;
    margin: 0;
  }

  .main-content-section {
    margin: 0;
  }

  .main-content-div {
    transform: skewX(0);
    position: static;
    width: 60%;
  }

  .heading-section {
    position: relative;
    transform: rotate(0deg);
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #74CEDD;
    top: -7px;
    left: -6px;
  }

  .heading-wrapper {
    transform: rotate(0deg);
    width: 100%;
    position: static;
  }
}
