body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: url(./7135.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-title {
  margin: 0;
  padding-left: 50px;
  color: #FDFDFD;
  font-weight: 300;
}

.navlink {
  text-decoration: none;
  color: #1C1616;
  list-style: none;
  margin-top: 20px;
  font-weight: 300;
  background-color: #FDFDFD;
  color: black;
  border: 1px solid #1C1616;
  transform: skewX(-20deg);
  position: relative;
  left: -11px;
}

.navlink:hover {
  background-color: #74CEDD;
  transition: background-color 0.5s;
  color: #FDFDFD;
}

.navlink.active {
  background-color: #74CEDD;
  transition: width 0.5s;
}

.portfolio {
  width: 172px;
  transition: width 0.5s;
}

.contact {
  width: 153px;
  transition: width 0.5s;
}

.resume {
  width: 135px;
  transition: width 0.5s;
}

.about {
  width: 116px;
  transition: width 0.5s;
}

.portfolio:hover, .portfolio.active {
  width: 200px;
  transition: width 0.5s;
}

.contact:hover, .contact.active {
  width: 182px;
  transition: width 0.5s;
}

.resume:hover, .resume.active {
  width: 164px;
  transition: width 0.5s;
}

.about:hover, .about.active {
  width: 147px;
  transition: width 0.5s;
}

span {
  position: relative;
  display: block;
  transform: skewX(20deg);
  padding: 5px;
  left: 49px;
}

.heading-section {
  border-right: 1px solid #74CEDD;
  background-color: #1C1616;
  border-top: none;
  width: 15em;
  transform: rotate(20deg);
  position: absolute;
  top: -150px;
  left: -114px;
  height: 90%;
  width: 220px;
  z-index: 1;
}

.heading-wrapper {
  transform: rotate(-20deg);
  position: absolute;
  top: 140px;
  left: 70px;
}

.main-content-div {
  position: absolute;
  top: 115px;
  right: -160px;
  padding: 50px;
  width: 80%;
  background-color: #1C1616;
  border: 1px solid #74CEDD;
  color: #FDFDFD;
  font-size: 20px;
  overflow: hidden;
  transform: skewX(-20deg);
}

.about-div {
  width: 50%;
  left: 100px;
  position: relative;
}

.contact-div, .resume-img, .about-div, .main-section, .portfolio-div {
  transform: skewX(20deg);
}

.main-section, .contact-div {
  display: flex;
}

.resume-img {
  height: 50%;
  width: 50%;
  position: relative;
  left: 150px;
}

img {
  height: auto;
  width: 80%;
}

.github-icon, .linked-icon {
  height: 25px;
  width: 25px;
  fill: #FDFDFD;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #FDFDFD;
  width: 50px;
  transform: skewX(-20deg);
  position: relative;
  right: 15px;
}

.icon {
  padding: 10px;
  transform: skewX(20deg);
}

.logo-white {
  position: relative;
  top: 5px;
  left: 75px;
  height: 80px;
  width: 100px;
}

.logo-black {
  height: 170px;
  width: 170px;
}

.contact-title {
  padding: 10px;
}

.main-div {
  display: flex;
  border-left: 1px solid #FDFDFD;
}

.main-name {
  padding: 10px;
  padding-right: 0;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

.main-title {
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 75px;
  font-weight: 300;
  font-size: 30px;
}
