body {
  background-color: #FDFDFD;
  font-family: 'Lato', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  color: #FDFDFD;
}

a {
  text-decoration: none;
  color: #1C1616;
  list-style: none;
  margin-top: 20px;
  font-weight: 300;
  background-color: #FDFDFD;
  color: black;
  border: 1px solid #1C1616;
  transform: skewX(-20deg);
  position: relative;
  left: -15px;
}

a:hover {
  background-color: #FFBD4A;
  transition: background-color 0.5s;
  color: #FDFDFD;
}

.portfolio {
  width: 177px;
}

.contact {
  width: 158px;
}

.about {
  width: 140px;
  transition: width 0.5s;
}

.resume {
  width: 121px;
}

.portfolio:hover {
  width: 200px;
  transition: width 0.5s;
}

.contact:hover {
  width: 182px;
  transition: width 0.5s;
}

.about:hover {
  width: 164px;
  transition: width 0.5s;
}

.resume:hover {
  width: 147px;
  transition: width 0.5s;
}

span {
  position: relative;
  display: block;
  transform: skewX(20deg);
  padding: 5px;
  left: 25px;
}

.heading-section {
  border: 1px solid #1C1616;
  background-color: #1C1616;
  border-top: none;
  width: 15em;
  transform: rotate(20deg);
  position: absolute;
  top: -200px;
  left: -110px;
  height: 90%;
  width: 220px;
  z-index: 1;
}

.heading-wrapper {
  transform: rotate(-20deg);
  position: absolute;
  top: 160px;
  left: 70px;
}

.background-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  text-align: center;
  background-image: url(./ink.jpg);
}

.main-content-div {
  position: relative;
  top: 90px;
  padding: 100px;
  height: 500px;
  width: 50%;
  margin-left: 25%;
  background-color: #1C1616;
  color: #FDFDFD;
}
